@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.article {
    position: relative;
    overflow: hidden;
}

.picture {
    width: 100%;
    height: auto;

}
.aboutpicture {
    width: 100%;
    height: 50%;

}

.header {
    font-size: 80px;
    color: white;
    text-align: center;
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    margin: auto;
    text-shadow: 0 0 25px black;

}
.aboutheader {
    font-size: 80px;
    color: white;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    margin: auto;
    text-shadow: 0 0 25px black;

}
.button{
    position: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;}

.introdiv {
    position: center;
    overflow: hidden;
    background-color: #0A2A5E;
    padding: 2%;
}

.text {
    color: #FDFFFC;
    text-shadow: 0 0 25px black;
    height: fit-content;
    margin: auto;
    font-family: 'Roboto', Arial, sans-serif;
    padding: 1%;
}